body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111;
    color: white;
    font-family: sans-serif;
}

h1 {
    margin: 10px;
}

.controls {
    margin: 10px;
}

canvas {
    border: 1px solid #fff;
    margin-top: 10px;
}